@model IEnumerable<Task2.Models.CarOwnerDB.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<h3>
    <a asp-action="CreateCar" class="">Create New</a>
</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                Passenger car
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPassengerCar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-action="CarOwner" asp-route-id="@item.Id">List of owners</a> |
                <a asp-action="EditCar" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteCar" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>